.LayoutMain {
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 30px;
}

.Sider {
  background: #fff;
  background-color: #fff;
  // border-right: 1px solid #d5dce3;
  // box-shadow: 0 4px 3px hsl(210deg 8% 62% / 20%);

  // sitcky
  top: 0;
  align-self: start;
  height: 100vh;
  position: sticky;
  display: flex;
  flex-direction: column;
}

.Content {
  border-radius: 8px;
  padding-right: 30px;
  padding-top: 30px;
  // background: #fff;
  // margin: 40px 40px 40px 0;

  display: flex;
  flex-direction: column;

  :global(.child) {
    flex: 1;
  }
}

.Menu {

  margin-top: 50px;
  padding: 0;
  li {
    border: none;
    margin-bottom: 10px;
    // padding: 0 20px;
    list-style: none;

    a {
      color: #282828;
      cursor: pointer;
      display: block;
      // font-weight: 600;
      line-height: 1.7em;
      padding: 7px 10px 7px 15px;
      text-decoration: none;
      // transition: all .3s ease-out;
      font-size: 14px;
      span {
        transition: transform .25s ease,-webkit-transform .25s ease;
        display: block;
      }
    
    }

    &:hover {
      a span {
        // color: #fff;
        // border-radius: 4px;
        // box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
        // background: linear-gradient(118deg,var(--primary-bg, '#a58bc8'),#5f88f7);
        // box-shadow: 0 0 10px 1px #5f88f7;
        // transform: translateX(5px);
				transition: transform .25s ease,-webkit-transform .25s ease;
      }
    }

    &:global(.active) {
      a {
        color: var(--primary-bg);
        font-weight: 500;
        background: #fafafa;
        
      }
    }
  }
}
