$auth-1-inner-max-width: 400px !default;
$white: #fff !default;
$theme-dark-card-bg: #283046 !default;
$body-bg: #f8f8f8 !default;
$body-color: #6e6b7b !default;
$black: #22292f !default; // 231f48 22292f
$box-shadow: 0 4px 24px 0 rgba($black, 0.1) !default;
$gray-100: #babfc7 !default; // $gray-lightest
$text-muted: #b9b9c3 !default;
$purple: #7367f0 !default; //$primary
$primary: $purple !default;
$border-color: #ebe9f1 !default;
$theme-dark-box-shadow: 0 4px 24px 0 rgba($black, 0.24);
$theme-dark-border-color: #3b4253 !default;
$theme-dark-body-color: #b4b7bd !default;
$theme-dark-text-muted-color: #676d7d !default;